
table {
    border-collapse: collapse;
}

table td {
    border: 1px solid black;
    height: 152px;
    width: 152px;
}

table td {
    vertical-align: top;
    text-align: left;
}

table .debug td {
    border: solid 1px blue;
    height: 48px;
    width: 48px;
    vertical-align: top;
    text-align: center;
}

.tile {
    display: block;
    height:152px;
    width:152px;
    /*position:absolute;*/
    background-image: url('../images/tiles.png');
    background-repeat: no-repeat;
}

.pawn-spot {
    float: left;
    display: block;
    position: relative;
    background-color: red;
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    z-index: 1;
}

.top-left {
    top: 0;
    left: 0;
}
.top {
    top: 0;
    left: 51px;
}

.top-right {
    top: 0;
    left: 102px;
}

.left {
    top: 51px;
    left: 0;
}

.center {
    top: 51px;
    left: 51px;
}

.right {
    top: 51px;
    left: 102px;
}

.bottom-left {
    top: 102px;
    left: 0;
}

.bottom {
    top: 102px;
    left: 51px;
}

.bottom-right {
    top: 102px;
    left: 102px;
}

.pawn-drop-grid {
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    background-color: yellow;
}

.pawn-drop-grid td {
    border: solid 1px black;
    height: 48px;
    width: 48px;
    vertical-align: top;
    text-align: center;
}


.playable {
    background-color: yellow;
}

._00 {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

._90 {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

._180 {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

._270 {
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.two-face-adjacent-castle {
    background-position: -54px -110px;
}

.one-face-castle-with-t-road {
    background-position: -247px -110px;
}

.one-face-opposite-separate-castles {
    background-position: -440px -110px;
}

.cloister {
    background-position: -634px -110px;
}

.cloister-with-road {
    background-position: -827px -110px;
}

.intersect-road {
    background-position: -1021px -110px;
}

.curved-road {
    background-position: -1214px -110px;
}

.straight-road {
    background-position: -1407px -110px;
}

.t-road {
    background-position: -1601px -110px;
}

.four-face-castle {
    background-position: -54px -343px;
}

.three-face-castle {
    background-position: -247px -343px;
}

.three-face-castle-with-road {
    background-position: -440px -343px;
}

.one-face-adjacent-separate-castles {
    background-position: -634px -343px;
}

.one-face-castle {
    background-position: -827px -343px;
}

.one-face-castle-with-straight-road {
    background-position: -1021px -343px;
}

.one-face-castle-with-curved-road-1 {
    background-position: -1214px -343px;
}

.one-face-castle-with-curved-road-2 {
    background-position: -1407px -343px;
}

.two-face-opposite-castle {
    background-position: -1601px -343px;
}

.two-face-adjacent-castle-with-curved-road {
    background-position: -1794px -343px;
}

